<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title th:text="#{account.title}"></title>
</head>
<body>
<div th:replace="~{layout :: navbar}"></div>

<div class="container py-4">
    <main>
        <div class="text-center mt-3">
            <a th:href="@{/admin}" class="btn btn-outline-primary rounded-pill px-4 shadow-sm" th:text="#{admin.button.return}"></a>
        </div>
    </main>
</div>

<div th:replace="~{layout :: footer}"></div>
</body>
</html>