<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"><title>Car Health Check</title></head>
<body>
<div th:replace="~{layout :: navbar}"></div>
<div class="container py-4">
    <main>
        <form method="POST" th:object="${car}">
            <div class="row g-3 mt-3">
                <div class="col-md-6 mb-3 text-center">
                    <label for="brandSelect" th:text="#{design.brand}"></label>
                    <select id="brandSelect" class="form-select" th:field="*{brand}">
                        <option value="" th:text="#{design.brand.mess}"></option>
                        <option th:each="brand : ${brands}" th:value="${brand.id}"
                                th:text="${brand.brandName}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="modelSelect" th:text="#{design.model}"></label>
                    <select id="modelSelect" class="form-select" th:field="*{modelType}" disabled>
                        <option value="" th:text="#{design.model.mess}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('modelType')}" th:errors="*{modelType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="colorSelect" th:text="#{design.color}"></label>
                    <select id="colorSelect" class="form-select" th:field="*{color}">
                        <option value="" th:text="#{design.color.mess}"></option>
                        <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.color}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="engineSelect" th:text="#{design.engine}"></label>
                    <select id="engineSelect" class="form-select" th:field="*{engineType}" disabled>
                        <option value="" th:text="#{design.engine.mess}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('engineType')}" th:errors="*{engineType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="bodySelect" th:text="#{design.body}"></label>
                    <select id="bodySelect" class="form-select" th:field="*{bodyType}">
                        <option value="" th:text="#{design.body.mess}"></option>
                        <option th:each="body : ${bodyTypes}" th:value="${body.id}" th:text="${body.bodyType}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('bodyType')}" th:errors="*{bodyType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="driveTypeSelect" th:text="#{design.drive}"></label>
                    <select id="driveTypeSelect" class="form-select" th:field="*{driveType}">
                        <option value="" th:text="#{design.drive.mess}"></option>
                        <option th:each="drive : ${driveTypes}" th:value="${drive.id}" th:text="${drive.driveType}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('driveType')}" th:errors="*{driveType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="gearboxTypeSelect" th:text="#{design.gearbox}"></label>
                    <select id="gearboxTypeSelect" class="form-select" th:field="*{gearboxType}">
                        <option value="" th:text="#{design.gearbox.mess}"></option>
                        <option th:each="gearbox : ${gearboxTypes}" th:value="${gearbox.id}" th:text="${gearbox.gearboxType}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('gearboxType')}" th:errors="*{gearboxType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="productionYear" th:text="#{design.car.productionYear}"></label>
                    <input id="productionYear" th:placeholder="#{design.car.productionYear.placeholder}" type="number" class="form-control" th:field="*{productionYear}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="mileage" th:text="#{design.car.mileage}"></label>
                    <input id="mileage" th:placeholder="#{design.car.mileage.placeholder}" type="number" min="0" max="9999999999" class="form-control" th:field="*{mileage}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="vin" th:text="#{design.car.vin}"></label>
                    <input id="vin" th:placeholder="#{design.car.vin.placeholder}" type="text" class="form-control" th:field="*{vin}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('vin')}" th:errors="*{vin}"></div>
                </div>

                <div class="mb-3">
                    <label for="firstRegistrationDate" class="form-label" th:text="#{design.car.registration}"></label>
                    <input type="date" id="firstRegistrationDate" th:field="*{firstRegistrationDate}" class="form-control">
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="foreignRegistered" th:field="*{foreignRegistered}">
                    <label class="form-check-label" for="foreignRegistered" th:text="#{design.car.registration.foreign}"></label>
                </div>

            </div>

            <div class="mt-4 mb-3 text-center">
                <label for="name" th:text="#{design.car.name}"></label>
                <input id="name" th:placeholder="#{design.car.name.example}" type="text" class="form-control" th:field="*{name}"/>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div class="mt-5 mb-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm"
                        th:text="#{design.button}">
                </button>
                <button type="button" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm ms-3"
                        th:text="#{design.button.cancel}"
                        onclick="window.location.href='/'">
                </button>
            </div>
        </form>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    const msgSelectModel = /*[[#{design.form.model}]]*/ 'Select a model';
    const msgSelectModelFirst = /*[[#{design.engine.mess}]]*/ 'Select a model first';
    const msgSelectEngineType = /*[[#{design.form.engine}]]*/ 'Select an engine type';
</script>
<script src="/js/carForm.js"></script>
</body>
</html>
