<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div th:replace="~{layout :: navbar}"></div>
<div class="container py-4">
    <main>
        <form method="POST" th:object="${car}">
            <div class="row g-3 mt-3">
                <div class="col-md-6 mb-3 text-center">
                    <label for="brandSelect">Select a brand:</label>
                    <select id="brandSelect" class="form-select" th:field="*{brand}">
                        <option value="">Select a brand</option>
                        <option th:each="brand : ${brands}" th:value="${brand.id}"
                                th:text="${brand.brandName}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="modelSelect">Select model:</label>
                    <select id="modelSelect" class="form-select" th:field="*{modelType}" disabled>
                        <option value="">Select a model</option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('modelType')}" th:errors="*{modelType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="colorSelect">Select color:</label>
                    <select id="colorSelect" class="form-select" th:field="*{color}">
                        <option value="">Select a color</option>
                        <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.color}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="engineSelect">Select your engine type:</label>
                    <select id="engineSelect" class="form-select" th:field="*{engineType}">
                        <option value="">Select an engine type</option>
                        <option th:each="engine : ${engineTypes}" th:value="${engine.id}"
                                th:text="${engine.engineType}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('engineType')}" th:errors="*{engineType}"></div>
                </div>

                <div class="col-md-6 mb-3 text-center">
                    <label for="bodySelect">Select type of body of your car:</label>
                    <select id="bodySelect" class="form-select" th:field="*{bodyType}">
                        <option value="">Select a body type</option>
                        <option th:each="body : ${bodyTypes}" th:value="${body.id}" th:text="${body.bodyType}"></option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('bodyType')}" th:errors="*{bodyType}"></div>
                </div>

            </div>

            <div class="mt-4 mb-3 text-center">
                <label for="name">Name your car:</label>
                <input id="name" type="text" class="form-control" th:field="*{name}"/>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div class="mt-5 mb-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm">
                    Next
                </button>
            </div>
        </form>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#brandSelect').change(function () {
            let brandId = $(this).val();
            let modelSelect = $('#modelSelect');

            modelSelect.empty().append('<option value="">Select a model</option>');

            if (brandId) {
                $.get('/api/models/' + brandId, function (data) {
                    $.each(data, function (index, model) {
                        modelSelect.append('<option value="' + model.id + '">' + model.modelName + '</option>');
                    });
                    modelSelect.prop('disabled', false);
                });
            } else {
                modelSelect.prop('disabled', true);
            }
        });
    });
</script>
</body>
</html>
