<head th:replace="~{fragments/head}"></head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/navbar}"></div>

<!-- CONTENT -->
<main class="flex-grow-1">
    <div class="container text-center mt-5">
        <img th:src="@{/images/CarHealthCheckImage.png}" class="img-fluid" alt="Car Health Check Logo" width="150">
        <h1 class="mt-3">Welcome!</h1>
        <p class="lead">Check the technical condition of your vehicle with us</p>
        <a href="/design" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm">Check my car</a>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>

