<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <title>Car Health Check</title>
</head>
<body>
<div th:replace="~{layout :: navbar}"></div>
<div class="container py-4">
    <main>
        <form method="POST" th:action="@{/design/questions/save}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="carId" th:value="${carId}"/>
            <input type="hidden" name="category" th:value="${category}"/>

            <div class="row g-3 mt-3">
                <div th:each="q : ${questions}" class="col-md-6 mb-3 text-center">

                    <div th:switch="${q.questionType}">
                        <div th:case="'select'">
                            <label th:for="|select-${q.id}|">
                                <span th:switch="${q.subCategory}">
                                    <span th:case="'exterior'">🚗</span>
                                    <span th:case="'tires'">⭕️</span>
                                    <span th:case="'fluids'">🛢️</span>
                                    <span th:case="'docs'">📄</span>
                                    <span th:case="'trim'">🪑</span>
                                    <span th:case="'electronics'">💡</span>
                                    <span th:case="'startup'">🚦️</span>
                                    <span th:case="'engine'">⚙️</span>
                                    <span th:case="'drivetrain'">🔩️</span>
                                    <span th:case="'roadtest'">🛣️</span>
                                    <span th:case="*">❓</span>
                                </span>
                                <span th:text="#{${q.questionKey}}"></span>
                            </label>
                            <select th:id="|select-${q.id}|" class="form-select"
                                    th:name="|selectedOption_${q.id}|">
                                <option th:each="opt : ${q.options}"
                                        th:value="${opt.id}"
                                        th:text="#{${opt.labelKey}}"></option>
                            </select>
                        </div>

                        <div th:case="'text'">
                            <label th:for="|select-${q.id}|">
                                <span th:switch="${q.subCategory}">
                                    <span th:case="'brakes'">🛑</span>
                                    <span th:case="'oil'">🛢️</span>
                                    <span th:case="'wheels'">⭕</span>
                                    <span th:case="'seats'">💺</span>
                                    <span th:case="'dashboard'">💡</span>
                                    <span th:case="'engine'">⚙️</span>
                                    <span th:case="'suspension'">⚙️</span>
                                    <span th:case="*">❓</span>
                                </span>
                                <span th:text="#{${q.questionKey}}"></span>
                            </label>
                            <input th:id="|text-${q.id}|" type="text"
                                   th:name="|answerValue_${q.id}|"
                                   th:placeholder="#{questions.placeholder.text}"
                                   class="form-control"/>
                        </div>

                        <div th:case="'number'">
                            <label th:for="|select-${q.id}|">
                                <span th:switch="${q.subCategory}">
                                    <span th:case="'brakes'">🛑</span>
                                    <span th:case="'oil'">🛢️</span>
                                    <span th:case="'wheels'">⭕</span>
                                    <span th:case="'seats'">💺</span>
                                    <span th:case="'dashboard'">💡</span>
                                    <span th:case="'engine'">⚙️</span>
                                    <span th:case="'suspension'">⚙️</span>
                                    <span th:case="*">❓</span>
                                </span>
                                <span th:text="#{${q.questionKey}}"></span>
                            </label>
                            <input th:id="|number-${q.id}|" type="number"
                                   th:name="|numericValue_${q.id}|"
                                   th:placeholder="#{questions.placeholder.number}"
                                   class="form-control"/>
                        </div>
                    </div>

                    <input type="hidden" th:name="|questionId_${q.id}|" th:value="${q.id}"/>
                </div>
            </div>

            <div class="mt-5 mb-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm"
                        th:text="#{design.button}"></button>
                <div th:insert="~{fragments/cancelButton.html}" class="d-inline-block"></div>
            </div>
        </form>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
