<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"><title>Car Health Check</title></head>
<body>
<div th:replace="~{layout :: navbar}"></div>
<div class="container py-4">
    <main>
        <form method="POST" th:object="${car}">
            <div class="row g-3 mt-3 text-center">

                <div class="mb-3">
                    <h4 class="mb-3" th:text="#{raport.details}"></h4>
                    <p class="mb-4">
                        <strong th:text="#{raport.vin}"></strong> <span th:text="${car.vin}"></span><br>
                        <strong th:text="#{raport.date}"></strong> <span th:text="${car.firstRegistrationDate}"></span>
                    </p>
                </div>

                <div class="mb-3">
                    <div class="alert alert-info text-center p-4 rounded-3 shadow-sm">
                        <h4 class="mb-3" th:text="#{raport.site.label}"></h4>
                        <p class="mb-4" th:utext="#{raport.site.text}">
                            <a href="https://historiapojazdu.gov.pl/" target="_blank" rel="noopener noreferrer" th:text="#{raport.site.link}">
                            </a>
                        </p>
                        <a href="https://historiapojazdu.gov.pl/" target="_blank" rel="noopener noreferrer"
                           class="btn btn-success btn-lg px-4 py-2 rounded-pill shadow-sm" th:text="#{raport.site.button}">
                        </a>
                    </div>
                </div>

                <div class="mb-3" th:if="${!car.foreignRegistered}">
                    <label for="report" th:text="#{raport.label}"></label>
                    <input type="file" id="report" name="report" class="form-control">
                </div>

                <div class="mt-5 mb-4 text-center">
                    <button type="submit" class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm"
                            th:text="#{design.button}"></button>
                    <button type="button" class="btn btn-danger btn-lg"
                            th:text="#{summary.delete.button}"
                            th:onclick="'confirmDelete(' + ${car.id} + ')'"></button>
                </div>
            </div>
        </form>
    </main>
</div>
<div th:replace="~{layout :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/confirmDelete.js"></script>
</body>
</html>
